//******** Def ********//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_content {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(46, 67, 255);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 4px;
}

body,
.scroll {
  &::-webkit-scrollbar {
    width: 10px;
    background: #000;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    background-color: colors(bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4fffa0;
  }
}
