@import "./variables";
@import "./default";

hr {
  height: 1px;
  background: whites(0.4);
  border: none;
}

.titel_label {
  font-size: 64px;
  color: whites(0.8);
  font-family: $Roboto;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
  position: relative;
  font-weight: bolder;

  @include mobile() {
    font-size: 34px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
  }

  &::before {
    content: "About";
    font-size: 214px;
    color: whites(0.02);
    font-weight: bold;
    position: absolute;
    bottom: -30px;
    @include mobile() {
      font-size: 100px;
      bottom: -16px;
    }
  }

  &.about_tt {
    &::before {
      content: "About";
    }
  }

  &.works_tt {
    &::before {
      content: "Work";
      left: -28px;
    }
  }

  &.testimonial_tt {
    &::before {
      content: "T";
      left: -28px;
      bottom: -0;
      margin-left: -16px;
    }
  }

  &.project_tt::before {
    content: "Projects";
    left: -12px;
    bottom: -34px;

    @include mobile() {
      left: -2px;
      bottom: -2px;
    }
  }
}

.label {
  font-family: $Varela;
  color: whites(0.4);
  font-weight: 300;
  font-size: 16px;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -300px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);

  hr {
    width: 400px;
  }

  .label {
    background: colors(bg);
    padding: 0 10px;
    margin: 0 auto;
    position: absolute;
  }
}

.hr_lable {
  display: flex;
  align-items: center;

  hr {
    width: 50px;
  }
}

.btns {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;

  @include mobile() {
    justify-content: center;
    gap: 20px;
  }

  a {
    $height: 60px;
    border-radius: 8px;
    background: linear-gradient(to right, #00ffc3, #00ff94);
    color: #0d0d11;
    padding: 20px 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    animation: pulseGlow 3s infinite;

    @include mobile {
      width: 100%;
      font-size: 14px;
      padding: 15px 20px;
    }

    &#cv {
      background: colors(full_bg) !important;
      box-shadow: $shadow;
      color: #00ff94;
      border: 2px solid #00ff94;
    }

    &:hover {
      transform: translateY(-2px);
      animation-play-state: paused;
      box-shadow:
        0 0 20px rgba(0, 255, 196, 0.8),
        0 0 40px rgba(0, 255, 196, 0.5),
        inset 0 3px 6px rgba(255, 255, 255, 0.1);
    }

    .icon {
      font-size: 1.25rem;
    }
  }
}
