@import "./variables";
@import "./default";
@import "./mobile_module";
@import "./mobile_sections/header";
@import "./mobile_sections/cover";
@import "./mobile_sections/about";
@import "./mobile_sections/projects";
@import "./mobile_sections/testimonial";

@import "./mobile_sections/footer";

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: colors(full_bg);

  .main-container {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  section {
    &.about,
    &.works {
      $bg_color: colors(full_bg);
      background: $bg_color;

      aside {
        .label {
          background: $bg_color;
        }
      }
    }

    &.cover,
    &.testimonial,
    &.news {
      $bg_color: colors(bg);
      background-color: $bg_color;

      aside {
        .label {
          background: $bg_color;
        }
      }
    }

    &.news {
      padding: 20px;
      font-family: $Ubuntu;

      .flex_content {
        width: 100%;
        overflow-x: scroll;
      }

      .hr_lable {
        hr {
          display: none;
        }

        span {
          font-size: 24px;
          color: whites(0.8);
        }
      }

      .card {
        $size: 200px;
        min-width: $size;
        margin: 20px;

        .preview {
          width: 100%;
          height: $size;
          background-size: cover;
          background-position: center center;
          border-radius: 12px;
          overflow: hidden;
          margin-bottom: 5px;
        }

        .date {
          color: whites(0.2);
          font-size: 12px;
          margin-bottom: 5px;
        }

        .desc {
          color: whites(0.8);
          font-size: 18px;
        }

        a {
          color: colors(sec);
          float: right;
          text-decoration: underline;
          font-size: 14px;
        }
      }
    }
  }

  section.cover img,
  .logo,
  aside,
  .effects {
    display: none;
  }
}
