@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;700&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;700&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_content {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(46, 67, 255);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 4px;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 10px;
  background: #000;
}
body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: #26272d;
}
body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #4FFFA0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_content {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(46, 67, 255);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 4px;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 10px;
  background: #000;
}
body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: #26272d;
}
body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #4FFFA0;
}

hr {
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}

.titel_label {
  font-size: 34px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto", sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}
.titel_label::before {
  content: "About";
  font-size: 100px;
  color: rgba(255, 255, 255, 0.02);
  font-weight: bold;
  position: absolute;
  bottom: -25px;
}
.titel_label.about_tt::before {
  content: "About";
}
.titel_label.works_tt::before {
  content: "Work";
  left: -28px;
}
.titel_label.testimonial_tt::before {
  content: "T";
  left: -4px;
  bottom: -60px;
  margin-left: -16px;
}

.label {
  font-family: "Varela Round", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
  font-size: 16px;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -300px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
aside hr {
  width: 400px;
}
aside .label {
  background: #26272d;
  padding: 0 10px;
  margin: 0 auto;
  position: absolute;
}

.hr_lable {
  display: flex;
  align-items: center;
}
.hr_lable hr {
  width: 50px;
}

header {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  font-family: "Varela Round", sans-serif;
  transition: all linear 0.4s;
  background-color: rgba(38, 39, 45, 0.6901960784);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  box-shadow: 0px 4px 10px rgba(57, 59, 67, 0.568627451);
}
header .nav_tab_icon {
  width: 30px;
  height: 50px;
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 20px;
}
header .nav_tab_icon .item {
  height: 5px;
  border-radius: 5px;
  background-color: #ff8a00;
  margin-bottom: 6px;
  transition: all linear 0.2s;
  box-shadow: 0px 0px 10px #ff5722;
}
header .nav_tab_icon .item:nth-child(1) {
  width: 100%;
}
header .nav_tab_icon .item:nth-child(2) {
  width: 60%;
}
header .nav_tab_icon .item:nth-child(3) {
  width: 30%;
}
header .nav_tab_icon.open .item {
  height: 5px;
  border-radius: 5px;
  background-color: #ff8a00;
  margin-bottom: 6px;
}
header .nav_tab_icon.open .item:nth-child(1) {
  width: 100%;
  transform: rotate(-45deg) translate(-8px, 6px);
}
header .nav_tab_icon.open .item:nth-child(2) {
  width: 100%;
  transform: rotate(45deg);
}
header .nav_tab_icon.open .item:nth-child(3) {
  display: none;
}
header .logo {
  display: none;
}
header nav {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(38, 39, 45, 0.9137254902);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
header nav.active {
  display: flex;
}
header nav a {
  margin-bottom: 35px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
header nav a:active {
  background-color: black;
}
header nav a:hover {
  cursor: pointer;
  opacity: 1;
}
header nav a.active {
  opacity: 1;
  font-size: bolder;
  color: #4fffa0;
}
header nav a.active::after, header nav a.active::before {
  color: #4fffa0;
  display: inline-block;
}
header nav a.active::before {
  content: "<";
}
header nav a.active::after {
  content: "/>";
}
header .contacts {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  box-shadow: -4px -4px 12px rgba(217, 217, 217, 0.05), 4px 4px 12px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 14px;
  font-weight: normal;
  background: #26272d;
  box-shadow: -4px -4px 4px rgba(65, 65, 65, 0.15), 4px 4px 12px rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid #4fffa0;
}
header .contacts .item {
  display: none;
}
header .contacts .close {
  display: none;
}
header .contacts .open {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
}
header .contacts.active {
  width: 160px;
  height: 160px;
  border-radius: 160px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 14px;
  font-weight: normal;
}
header .contacts.active .item {
  display: flex;
  margin: 20px auto;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.6);
}
header .contacts.active .item:nth-of-type(2) {
  margin-left: 10px;
}
header .contacts.active .item .icon {
  margin-right: 10px;
}
header .contacts.active .close {
  display: block;
  color: rgba(255, 255, 255, 0.2);
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}
header .contacts.active .open {
  display: none;
}

section.cover {
  background-color: #26272d;
  background-size: contain;
  width: 100%;
  height: 100vh;
  max-height: 560px;
  color: white;
  padding: 100px 20px 0 20px;
  display: block;
}
section.cover .container {
  position: relative;
  z-index: 2;
}
section.cover .container h1 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}
section.cover .container h1 span {
  background: radial-gradient(49.49% 260.63% at 48.33% 50.51%, #ff8a00 0%, #e52e71 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.cover .container p {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
  max-width: 350px;
}
section.cover .container .btns {
  display: flex;
  margin-top: 60px;
  align-items: center;
  flex-wrap: wrap;
}
section.cover .container .btns button {
  height: 45px;
  border-radius: 45px;
  background-color: #26272d;
  box-shadow: -4px -4px 12px rgba(217, 217, 217, 0.05), 4px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  color: #4fffa0;
  font-family: "Varela Round", sans-serif;
  margin-right: 20px;
  margin-bottom: 20px;
}
section.cover .container .btns a {
  color: #4fffa0;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin-bottom: 20px;
}
section.cover .container .btns a .icon {
  margin-right: 15px;
}
section.cover .experiance {
  position: absolute;
  height: 60px;
  bottom: -30px;
  display: flex;
}
section.cover .experiance .exp_years {
  width: 140px;
  background: radial-gradient(49.49% 260.63% at 48.33% 50.51%, #ff8a00 0%, #e52e71 100%);
  border-radius: 4px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
section.cover .experiance .exp_years .border {
  border: 2px dashed white;
  height: 50px;
  width: 130px;
  position: absolute;
}
section.cover .experiance .exp_years .num_years {
  font-size: 34px;
  font-weight: bolder;
  margin-right: 10px;
}
section.cover .experiance .exp_years .label {
  font-size: 12px;
}
section.cover .experiance .exp_projects {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  color: #67686c;
  height: 30px;
  display: flex;
  margin-left: 10px;
}
section.cover .experiance .exp_projects .num_project {
  font-size: 24px;
  font-weight: bolder;
  margin-right: 10px;
}
section.cover .experiance .exp_projects .label {
  font-size: 12px;
  font-weight: 400;
}

section.about {
  padding: 0 20px;
  display: block;
}
section.about .flex_content {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  font-family: "Ubuntu", sans-serif;
}
section.about .flex_content .what_i_do .card {
  background: #26272d;
  padding: 10px;
  border-radius: 4px;
  line-height: 38px;
  margin-bottom: 10px;
  cursor: pointer;
}
section.about .flex_content .what_i_do .card.active .card_header, section.about .flex_content .what_i_do .card:hover .card_header {
  color: #4fffa0;
}
section.about .flex_content .what_i_do .card .card_header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
section.about .flex_content .what_i_do .card .card_header .icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.about .flex_content .what_i_do .card .card_body {
  margin-bottom: 20px;
}
section.about .flex_content .what_i_do .card .card_body p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 26px;
  font-weight: normal;
}
section.about .flex_content .what_i_do .card .card_tools .tools {
  display: flex;
  margin-bottom: 10px;
}
section.about .flex_content .what_i_do .card .card_tools .tools .label {
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  background: #000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin-right: 10px;
}
section.about .flex_content .what_i_do .card .card_tools .tools .label .icon {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.about .flex_content .what_i_do .card .card_tools .tools .label .icon .dote {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #4fffa0;
}
section.about .flex_content .what_i_do .card .card_tools .tools .label span {
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
}
section.about .flex_content .what_i_do .card .card_tools .tools .tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
section.about .flex_content .what_i_do .card .card_tools .tools .tags-container .tag {
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  border-radius: 4px;
  color: #000;
  background: #d9d9d9;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
section.about .flex_content .what_i_do .card a {
  text-decoration: underline;
  color: #03a9f4;
}
section.about .flex_content .introduce {
  margin-bottom: 20px;
}
section.about .flex_content .introduce .title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
section.about .flex_content .introduce .min_title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
}
section.about .flex_content .introduce p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 25px;
  margin-top: 10px;
}
section.about .flex_content .introduce p.mobile-hide {
  display: none;
}
section.about .flex_content .introduce button {
  background: linear-gradient(90deg, rgba(106, 108, 119, 0) 0%, #2d2e32 48.96%, rgba(106, 108, 119, 0) 100%);
  color: rgba(255, 255, 255, 0.6);
  padding: 5px 15px;
  float: right;
  text-decoration: underline;
  font-size: 14px;
}

section.works {
  padding: 0 20px;
  width: 100vw;
  overflow: hidden;
}
section.works .flex_content {
  flex-wrap: wrap;
  margin: 0 auto;
}
section.works .card {
  width: 100%;
  border-radius: 12px;
  margin: 10px 0;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}
section.works .card.mobile-hide {
  display: none !important;
}
section.works .card img {
  max-width: 100%;
}
section.works .card .card_header {
  display: flex;
  margin-bottom: 20px;
}
section.works .card .card_header .langs {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 20px;
  justify-content: flex-end;
}
section.works .card .card_header .langs .item {
  background: #26272d;
  color: rgba(255, 255, 255, 0.6);
  padding: 2px 4px;
  border-radius: 4px;
  margin: 2px;
  font-size: 12px;
  display: block;
}
section.works .card.delivery {
  background: #8e937d;
  top: 190px;
}
section.works .card.blog {
  background: #785b68;
}
section.works .card.callCenter {
  background: #5b8390;
}
section.works .card.all_projects_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-size: 24px;
}
section.works .card.all_projects_link a {
  color: #4fffa0;
}
section.works .card .card_title {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

section.testimonial {
  padding: 20px 20px;
  font-family: "Ubuntu", sans-serif;
}
section.testimonial .hr_lable {
  margin-left: 20px;
  margin-top: -20px;
}
section.testimonial .comment_preview {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 12px;
  background: #1c1d22;
  padding: 30px;
}
section.testimonial .comment_preview .rating .stars {
  color: #4fffa0;
  margin-right: 10px;
}
section.testimonial .comment_preview .rating .r_val {
  color: rgba(255, 255, 255, 0.4);
}
section.testimonial .comment_preview p.preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: italic;
}
section.testimonial .comment_preview .icon {
  font-size: 30px;
  color: #26272d;
  position: absolute;
  right: 20px;
}
section.testimonial .clients {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
section.testimonial .clients .item {
  width: 100px;
  height: 40px;
  display: flex;
  border-bottom: 1px solid #1c1d22;
}
section.testimonial .clients .item.active {
  border-bottom: 1px solid #4fffa0;
}
section.testimonial .clients .item .avatar {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: 30px;
  background-size: cover;
  margin-right: 10px;
}
section.testimonial .clients .item .user_info .user_name {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
section.testimonial .clients .item .user_info .desc {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.4);
}
section.testimonial .sponsors {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
section.testimonial .sponsors .item {
  margin: 10px;
  width: 60px;
}
section.testimonial .sponsors .item img {
  max-width: 100%;
}

footer {
  width: 100%;
  background: #15161c;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
footer .container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
footer .container .profiles {
  margin-bottom: 20px;
}
footer .container .profiles .label {
  line-height: 60px;
}
footer .container .profiles .profiles-links {
  display: flex;
  gap: 20px;
}
footer .container .profiles .profiles-links a {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  font-size: 25px;
  opacity: 0.6;
}
footer .container .contact-info .button-container {
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
footer .container .contact-info .button-container button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
  background: #4fffa0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .contact-info .button-container button span {
  margin-right: 10px;
}
footer .container .contact-info .contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #fff;
}
footer .container .contact-info .contacts .item {
  display: flex;
  gap: 10px;
}
footer .copyright {
  width: 100%;
  height: 45px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.2549019608);
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #1c1d22;
}
body .main-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
body section.about, body section.works {
  background: #1c1d22;
}
body section.about aside .label, body section.works aside .label {
  background: #1c1d22;
}
body section.cover, body section.testimonial, body section.news {
  background-color: #26272d;
}
body section.cover aside .label, body section.testimonial aside .label, body section.news aside .label {
  background: #26272d;
}
body section.news {
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
}
body section.news .flex_content {
  width: 100%;
  overflow-x: scroll;
}
body section.news .hr_lable hr {
  display: none;
}
body section.news .hr_lable span {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
body section.news .card {
  min-width: 200px;
  margin: 20px;
}
body section.news .card .preview {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 5px;
}
body section.news .card .date {
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  margin-bottom: 5px;
}
body section.news .card .desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}
body section.news .card a {
  color: #4fffa0;
  float: right;
  text-decoration: underline;
  font-size: 14px;
}
body section.cover img,
body .logo,
body aside,
body .effects {
  display: none;
}/*# sourceMappingURL=mobile.css.map */