@import "./variables";
@import "./default";
@import "./module";
@import "./sections/header";
@import "./sections/cover";
@import "./sections/about";
@import "./sections/projects";
@import "./sections/testimonial";
@import "./sections/scripts";
@import "./sections/footer";

@include mobile() {
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: colors(full_bg);

  .main-container {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  section {
    width: 100%;

    &.about,
    &.works {
      $bg_color: colors(full_bg);
      background: $bg_color;

      aside {
        .label {
          background: $bg_color;
        }
      }
    }

    &.cover,
    &.testimonial,
    &.news {
      $bg_color: colors(bg);
      background: $bg_color;

      aside {
        .label {
          background: $bg_color;
        }
      }
    }
  }
}
