@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;700&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;700&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_content {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(46, 67, 255);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 4px;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 10px;
  background: #000;
}
body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: #26272d;
}
body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #4FFFA0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_content {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(46, 67, 255);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 4px;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 10px;
  background: #000;
}
body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: #26272d;
}
body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #4FFFA0;
}

hr {
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}

.titel_label {
  font-size: 64px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
  position: relative;
}
.titel_label::before {
  content: "About";
  font-size: 214px;
  color: rgba(255, 255, 255, 0.02);
  font-weight: bold;
  position: absolute;
  bottom: -50px;
}
.titel_label.about_tt::before {
  content: "About";
}
.titel_label.works_tt::before {
  content: "Work";
  left: -28px;
}
.titel_label.testimonial_tt::before {
  content: "T";
  left: -28px;
  bottom: -154px;
  margin-left: -16px;
}

.label {
  font-family: "Varela Round", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
  font-size: 16px;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -300px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
aside hr {
  width: 400px;
}
aside .label {
  background: #26272d;
  padding: 0 10px;
  margin: 0 auto;
  position: absolute;
}

.hr_lable {
  display: flex;
  align-items: center;
}
.hr_lable hr {
  width: 50px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #1c1d22;
}
body .main_content {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
body header,
body section {
  width: 100%;
}
body header {
  width: 100%;
  background: #26272d;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  font-family: "Varela Round", sans-serif;
  transition: all linear 0.4s;
}
body header.fixed {
  height: 60px;
  transition: all linear 0.4s;
  border-radius: 0 0 60px 60px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}
body header.fixed .logo {
  top: 20px;
  transition: all linear 0.4s;
  line-height: 12px;
}
body header.fixed .logo span:nth-of-type(1) {
  font-size: 29px;
}
body header.fixed .logo span:nth-of-type(2) {
  font-size: 13px;
}
body header.fixed .contacts {
  width: 50px;
  height: 50px;
  top: 35px;
  transition: all linear 0.4s;
}
body header.fixed .contacts .item {
  display: none;
}
body header.fixed .contacts .close {
  display: none;
}
body header.fixed .contacts .open {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #e91e63;
  cursor: pointer;
  border-radius: 50%;
}
body header.fixed .contacts .open:hover {
  color: #4fffa0;
}
body header .logo {
  position: absolute;
  top: 35px;
  left: 35px;
  font-family: "Varela Round", sans-serif;
  line-height: 20px;
  text-align: center;
}
body header .logo span:nth-of-type(1) {
  font-size: 48px;
  color: rgba(214, 241, 247, 0.6);
}
body header .logo span:nth-of-type(2) {
  font-size: 21px;
  color: rgba(143, 160, 166, 0.48);
}
body header .nav_tab_icon {
  display: none;
}
body header nav {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body header nav a {
  margin: 0 20px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
}
body header nav a:hover {
  cursor: pointer;
  opacity: 1;
}
body header nav a.active {
  opacity: 1;
  font-size: bolder;
  color: #4fffa0;
}
body header nav a.active::after, body header nav a.active::before {
  color: #4fffa0;
  display: inline-block;
}
body header nav a.active::before {
  content: "<";
}
body header nav a.active::after {
  content: "/>";
}
body header .contacts {
  background: #26272d;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  box-shadow: -4px -4px 12px rgba(217, 217, 217, 0.05), 4px 4px 12px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 14px;
  font-weight: normal;
}
body header .contacts .item {
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
body header .contacts .item:hover {
  background: #000;
  color: #4fffa0;
}
body header .contacts .item:nth-of-type(2) {
  margin-left: -5px;
}
body header .contacts .item .icon {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .contacts .item p {
  margin-right: 10px;
}
body header .contacts .close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.2);
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
}
body header .contacts .close:hover {
  color: #e91e63;
}
body header .contacts .open {
  display: none;
}
body section.cover {
  background: #26272d;
  width: 100%;
  height: 100vh;
  padding: 180px 140px 0 140px;
  color: white;
}
body section.cover .container {
  position: relative;
  z-index: 2;
}
body section.cover .container h1 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  color: rgba(255, 255, 255, 0.8);
}
body section.cover .container h1 span {
  background: radial-gradient(49.49% 260.63% at 48.33% 50.51%, #ff8a00 0%, #e52e71 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body section.cover .container p {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.6);
}
body section.cover .container .btns {
  display: flex;
  margin-top: 60px;
  align-items: center;
}
body section.cover .container .btns button {
  height: 45px;
  border-radius: 45px;
  background-color: #26272d;
  box-shadow: -4px -4px 12px rgba(217, 217, 217, 0.05), 4px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  color: #4fffa0;
  font-family: "Varela Round", sans-serif;
  margin-right: 40px;
}
body section.cover .container .btns a {
  color: #4fffa0;
  font-family: "Varela Round", sans-serif;
  display: flex;
}
body section.cover .container .btns a .icon {
  margin-right: 15px;
}
body section.cover .effects {
  width: 600px;
  height: 600px;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}
body section.cover .effects .bg_img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-image: url(../img/profile.png);
  background-size: cover;
  background-position: center;
}
body section.cover .effects .bg_img:after {
  content: "";
  width: 101%;
  height: 101%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(38, 39, 45, 0.76) 0%, #26272d 100%);
}
body section.cover .effects .patern .icon {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background: #202127;
  padding: 10px;
  position: absolute;
}
body section.cover .effects .patern .icon.tailwind {
  top: 50%;
  left: 20%;
  animation: scale-up-tailwind 5s ease-in-out infinite alternate-reverse both;
}
@keyframes scale-up-tailwind {
  0% {
    transform: scale(0.1);
    background: #38b2ac;
  }
  50% {
    background: #202127;
  }
  100% {
    transform: scale(1);
  }
}
body section.cover .effects .patern .icon.react {
  top: 30%;
  left: 60%;
  animation: scale-up-react 5s ease-in-out 1s infinite alternate-reverse both;
}
@keyframes scale-up-react {
  0% {
    transform: scale(0.1);
    background: #61dafb;
  }
  50% {
    background: #202127;
  }
  100% {
    transform: scale(1);
  }
}
body section.cover .effects .patern .icon.sass {
  top: 80%;
  left: 60%;
  animation: scale-up-sass 5s ease-in-out 2s infinite alternate-reverse both;
}
@keyframes scale-up-sass {
  0% {
    transform: scale(0.1);
    background: #cb6699;
  }
  50% {
    background: #202127;
  }
  100% {
    transform: scale(1);
  }
}
body section.cover .effects .patern .icon.php {
  top: 60%;
  left: 80%;
  animation: scale-up-php 5s ease-in-out 3s infinite alternate-reverse both;
}
@keyframes scale-up-php {
  0% {
    transform: scale(0.1);
    background: #6181b6;
  }
  50% {
    background: #202127;
  }
  100% {
    transform: scale(1);
  }
}
body section.cover .effects .patern .icon.mysql {
  top: 50%;
  left: 50%;
  animation: scale-up-mysql 5s ease-in-out 4s infinite alternate-reverse both;
}
@keyframes scale-up-mysql {
  0% {
    transform: scale(0.1);
    background: #00618a;
  }
  50% {
    background: #202127;
  }
  100% {
    transform: scale(1);
  }
}
body section.cover .effects .patern .icon.js {
  top: 30%;
  left: 30%;
  animation: scale-up-js 5s ease-in-out 5s infinite alternate-reverse both;
}
@keyframes scale-up-js {
  0% {
    transform: scale(0.1);
    background: #f0db4f;
  }
  50% {
    background: #202127;
  }
  100% {
    transform: scale(1);
  }
}
body section.cover .effects .patern .icon.figma {
  top: 80%;
  left: 30%;
  animation: scale-up-figma 5s ease-in-out 6s infinite alternate-reverse both;
}
@keyframes scale-up-figma {
  0% {
    transform: scale(0.1);
    background: #a159fe;
  }
  50% {
    background: #202127;
  }
  100% {
    transform: scale(1);
  }
}
body section.cover .experiance {
  position: absolute;
  height: 100px;
  bottom: -50px;
  display: flex;
}
body section.cover .experiance .exp_years {
  width: 240px;
  background: radial-gradient(49.49% 260.63% at 48.33% 50.51%, #ff8a00 0%, #e52e71 100%);
  border-radius: 4px;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
body section.cover .experiance .exp_years .border {
  height: 90px;
  width: 230px;
  position: absolute;
}
body section.cover .experiance .exp_years .border > div {
  position: absolute;
}
body section.cover .experiance .exp_years .border > div :nth-child(2n) {
  animation: light-animation 1s ease-in-out infinite alternate-reverse both;
}
body section.cover .experiance .exp_years .border > div :nth-child(2n+1) {
  animation: light-animation 1s ease-in-out 1s infinite alternate-reverse both;
}
@keyframes light-animation {
  0% {
    background: #dcdcdc;
  }
  100% {
    background: #ffffff;
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.8);
  }
}
body section.cover .experiance .exp_years .border .light {
  width: 10px;
  height: 10px;
  background: #dcdcdc;
  border-radius: 10px;
}
body section.cover .experiance .exp_years .border .top,
body section.cover .experiance .exp_years .border .bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
body section.cover .experiance .exp_years .border .right,
body section.cover .experiance .exp_years .border .left {
  top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  padding: 6px 0;
}
body section.cover .experiance .exp_years .border .top {
  top: 6px;
}
body section.cover .experiance .exp_years .border .bottom {
  bottom: 6px;
}
body section.cover .experiance .exp_years .border .left {
  left: 6px;
}
body section.cover .experiance .exp_years .border .right {
  right: 6px;
}
body section.cover .experiance .exp_years .num_years {
  font-size: 65px;
  font-weight: bolder;
  margin-right: 20px;
}
body section.cover .experiance .exp_years .label {
  font-size: 25px;
  font-weight: 400;
}
body section.cover .experiance .exp_projects {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  color: #67686c;
  height: 50px;
  display: flex;
  margin-left: 20px;
}
body section.cover .experiance .exp_projects .num_project {
  font-size: 65px;
  font-weight: bolder;
  margin-right: 20px;
}
body section.cover .experiance .exp_projects .label {
  font-size: 25px;
  font-weight: 400;
}
body section.about, body section.works {
  background: #1c1d22;
}
body section.about aside .label, body section.works aside .label {
  background: #1c1d22;
}
body section.cover, body section.testimonial, body section.news {
  background: #26272d;
}
body section.cover aside .label, body section.testimonial aside .label, body section.news aside .label {
  background: #26272d;
}
body section.about .flex_content {
  display: flex;
  font-family: "Ubuntu", sans-serif;
}
body section.about .flex_content .what_i_do .card {
  background: #26272d;
  padding: 20px;
  border-radius: 4px;
  line-height: 38px;
  margin-bottom: 10px;
  margin-right: 20px;
  cursor: pointer;
}
body section.about .flex_content .what_i_do .card.active .card_header, body section.about .flex_content .what_i_do .card:hover .card_header {
  color: #4fffa0;
}
body section.about .flex_content .what_i_do .card > div {
  display: flex;
  justify-content: space-between;
}
body section.about .flex_content .what_i_do .card .card_header {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
body section.about .flex_content .what_i_do .card .card_header .icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.about .flex_content .what_i_do .card .card_body p {
  color: rgba(255, 255, 255, 0.6);
}
body section.about .flex_content .what_i_do .card .card_footer a {
  text-decoration: underline;
  color: #03a9f4;
}
body section.about .flex_content .introduce .title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
}
body section.about .flex_content .introduce .min_title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 38px;
  font-style: italic;
  margin-top: 20px;
}
body section.about .flex_content .introduce p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
  line-height: 45px;
  margin-top: 20px;
}
body section.about .flex_content .introduce button {
  background: linear-gradient(90deg, rgba(106, 108, 119, 0) 0%, #2d2e32 48.96%, rgba(106, 108, 119, 0) 100%);
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 25px;
  float: right;
  text-decoration: underline;
  font-size: 18px;
}
body section.works {
  padding-top: 100px;
}
body section.works .flex_content {
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  margin-top: -223px;
}
body section.works .card {
  width: 450px;
  height: 500px;
  border-radius: 12px;
  margin: 25px;
  padding: 20px;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
body section.works .card .card_header {
  display: flex;
  margin-bottom: 20px;
}
body section.works .card .card_header .langs {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 20px;
  justify-content: flex-end;
}
body section.works .card .card_header .langs .item {
  background: #26272d;
  color: rgba(255, 255, 255, 0.6);
  padding: 2px 4px;
  border-radius: 4px;
  margin: 2px;
  font-size: 12px;
  display: block;
}
body section.works .card.gym_app {
  background: #3b475e;
  top: 190px;
}
body section.works .card.oklaton {
  background: #a59b91;
  height: 460px;
}
body section.works .card.oklaton .card_title {
  font-size: 28px;
}
body section.works .card.oklaton img {
  max-width: 100%;
}
body section.works .card.all_projects_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-size: 34px;
  margin-top: 80px;
}
body section.works .card.all_projects_link a {
  color: #4fffa0;
}
body section.works .card.delivery {
  background: #5b8390;
  height: 400px;
}
body section.works .card.delivery .card_title {
  font-size: 22px;
}
body section.works .card.delivery .card_body {
  border-radius: 12px;
  overflow: hidden;
}
body section.works .card.delivery .card_body img {
  max-width: 100%;
}
body section.works .card .card_title {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
body section.testimonial {
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
}
body section.testimonial .hr_lable {
  margin-left: 134px;
  margin-top: -40px;
}
body section.testimonial .comment_preview {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 300px;
  border-radius: 12px;
  background: #1c1d22;
  padding: 40px;
}
body section.testimonial .comment_preview .rating .stars {
  color: #4fffa0;
  margin-right: 10px;
}
body section.testimonial .comment_preview .rating .r_val {
  color: rgba(255, 255, 255, 0.4);
}
body section.testimonial .comment_preview p.preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  font-style: italic;
}
body section.testimonial .comment_preview .icon {
  font-size: 100px;
  color: #26272d;
}
body section.testimonial .clients {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
body section.testimonial .clients .item {
  width: 330px;
  height: 80px;
  display: flex;
  border-bottom: 1px solid #1c1d22;
}
body section.testimonial .clients .item.active {
  border-bottom: 1px solid #4fffa0;
}
body section.testimonial .clients .item .avatar {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-size: cover;
  margin-right: 10px;
}
body section.testimonial .clients .item .user_info .user_name {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}
body section.testimonial .clients .item .user_info .desc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
body section.testimonial .sponsors {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 80px;
}
body section.testimonial .sponsors .item {
  margin: 20px;
}
body section.news {
  padding: 80px;
  font-family: "Ubuntu", sans-serif;
}
body section.news .flex_content {
  justify-content: space-evenly;
}
body section.news .hr_lable hr {
  height: 4px;
}
body section.news .hr_lable span {
  font-size: 34px;
  color: rgba(255, 255, 255, 0.8);
}
body section.news .card {
  width: 350px;
  margin: 20px;
}
body section.news .card .preview {
  width: 100%;
  height: 269px;
  background-size: cover;
  background-position: center center;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 10px;
}
body section.news .card .date {
  color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  margin-bottom: 10px;
}
body section.news .card .desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
body section.news .card a {
  color: #4fffa0;
  float: right;
  text-decoration: underline;
}
body footer {
  width: 100%;
  background: #1c1d22;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}
body footer .bottom {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer .bottom span {
  font-size: 34px;
  color: #4fffa0;
}
body footer .bottom p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
body footer .bottom .copy {
  position: absolute;
  left: 0;
  bottom: 10px;
  color: #000;
  font-size: 14px;
}
body footer .main_content .title {
  text-align: center;
  font-size: 64px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
}
body footer .main_content .footer_content {
  display: flex;
  justify-content: space-between;
}
body footer .main_content .right {
  font-size: 38px;
  color: rgba(255, 255, 255, 0.6);
}
body footer .main_content .right a {
  color: #4fffa0;
  text-decoration: underline;
  font-size: 24px;
}
body footer .main_content .right .social-media {
  margin-top: 20px;
}
body footer .main_content .right .social-media .item {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #111;
  margin-right: 20px;
}
body footer .main_content .medium .label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  margin-bottom: 15px;
}
body footer .main_content .medium a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  display: block;
}
body footer .main_content .left .item {
  height: 100px;
  display: flex;
  align-items: center;
  background: #24262d;
  border: 6px solid #202126;
  box-sizing: border-box;
  border-radius: 100px;
  margin-bottom: 20px;
  padding-right: 20px;
}
body footer .main_content .left .item .icon {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: #31333d;
  color: #4fffa0;
  font-size: 24px;
}
body footer .main_content .left .item span {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
}
body footer .main_content .hr {
  width: 2px;
  height: 200px;
  background: #2a2a2a;
}/*# sourceMappingURL=style.css.map */