header {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-family: $Varela;
    transition: all linear 0.4s;
    background-color: #26272db0;
    backdrop-filter: blur(30px);
    box-shadow: 0px 4px 10px #393b4391;

    .nav_tab_icon {
        $size: 50px;
        width: $size - 20px;
        height: $size;
        position: absolute;
        z-index: 3;
        $dimension: 20px;
        top: $dimension;
        left: $dimension;

        .item {
            $height: 5px;
            height: $height;
            border-radius: $height;
            background-color: colors(orange);
            margin-bottom: 6px;
            transition: all linear 0.2s;
            box-shadow: 0px 0px 10px #ff5722;

            &:nth-child(1) {
                width: 100%;
            }

            &:nth-child(2) {
                width: 60%;
            }

            &:nth-child(3) {
                width: 30%;
            }
        }

        &.open {
            .item {
                $height: 5px;
                height: $height;
                border-radius: $height;
                background-color: colors(orange);
                margin-bottom: 6px;

                &:nth-child(1) {
                    width: 100%;
                    transform: rotate(-45deg) translate(-8px, 6px);
                }

                &:nth-child(2) {
                    width: 100%;
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    .logo {
        display: none;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(30px);

        &.active {
            display: flex;
        }

        a {
            margin-bottom: 35px;
            position: relative;
            color: colors(text);
            opacity: 0.8;
            font-size: 24px;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

            &:active {
                background-color: black;
            }

            &:hover {
                cursor: pointer;
                opacity: 1;
            }

            &.active {
                opacity: 1;
                font-size: bolder;
                color: colors(sec);

                &::after,
                &::before {
                    color: colors(sec);
                    display: inline-block;
                }

                &::before {
                    content: "<";
                }

                &::after {
                    content: "/>";
                }
            }
        }
    }

    .contacts {
        $size: 70px;
        width: $size;
        height: $size;
        border-radius: $size;
        transition: all linear 0.2s;
        color: whites(0.6);
        padding: 10px;
        box-shadow: $shadow;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 14px;
        font-weight: normal;
        background: colors(bg);
        box-shadow: -4px -4px 4px rgba(65, 65, 65, 0.15), 4px 4px 12px rgba(0, 0, 0, 0.15);
        border-bottom: 2px solid colors(sec);

        .item {
            display: none;
        }

        .close {
            display: none;
        }

        .open {
            display: flex;
            width: 100%;
            height: 100%;
            font-size: 25px;
            color: whites(0.6);
        }

        &.active {
            $size: 160px;
            width: $size;
            height: $size;
            border-radius: $size;
            padding: 10px;
            position: absolute;
            right: 0;
            top: 20px;
            font-size: 14px;
            font-weight: normal;

            .item {
                display: flex;
                margin: 20px auto;
                text-align: center;
                width: fit-content;
                color: whites(0.6);

                &:nth-of-type(2) {
                    margin-left: 10px;
                }

                .icon {
                    margin-right: 10px;
                }
            }

            .close {
                display: block;
                color: whites(0.2);
                font-size: 24px;
                position: absolute;
                top: 50%;
                right: 20%;
                transform: translateY(-50%);
            }

            .open {
                display: none;
            }
        }
    }
}
