section.works {
    padding: 0 20px;
    width: 100vw;
    overflow: hidden;

    .flex_content {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .card {
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
        padding: 20px;
        font-family: $Ubuntu;
        cursor: pointer;
        &.mobile-hide {
            display: none !important;
        }

        img {
            max-width: 100%;
        }

        .card_header {
            display: flex;
            margin-bottom: 20px;

            .langs {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                height: fit-content;
                margin-left: 20px;
                justify-content: flex-end;

                .item {
                    background: colors(bg);
                    color: whites(0.6);
                    padding: 2px 4px;
                    border-radius: 4px;
                    margin: 2px;
                    font-size: 12px;
                    display: block;
                }
            }
        }

        &.delivery {
            background: #8e937d;
            top: 190px;
        }

        &.blog {
            background: #785b68;
        }

        &.callCenter {
            background: #5b8390;
        }

        &.all_projects_link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: underline;
            font-size: 24px;

            a {
                color: colors(sec);
            }
        }

        .card_title {
            color: whites(0.6);
            font-family: $Ubuntu;
            font-size: 24px;
        }
    }
}
