section.testimonial {
    padding: 20px 20px;
    font-family: $Ubuntu;

    .hr_lable {
        margin-left: 20px;
        margin-top: -20px;
    }

    .comment_preview {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 12px;
        background: colors(full_bg);
        padding: 30px;

        .rating {
            .stars {
                color: colors(sec);
                margin-right: 10px;
            }

            .r_val {
                color: whites(0.4);
            }
        }

        p.preview {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: whites(0.6);
            font-size: 14px;
            font-style: italic;
        }

        .icon {
            font-size: 30px;
            color: colors(bg);
            position: absolute;
            right: 20px;
        }
    }

    .clients {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .item {
            width: 100px;
            height: 40px;
            $size: 30px;
            display: flex;
            border-bottom: 1px solid colors(full_bg);

            &.active {
                border-bottom: 1px solid colors(sec);
            }

            .avatar {
                width: $size;
                min-width: $size;
                height: $size;
                min-height: $size;
                border-radius: $size;
                background-size: cover;
                margin-right: 10px;
            }

            .user_info {
                .user_name {
                    font-size: 12px;
                    color: whites(0.6);
                }

                .desc {
                    font-size: 8px;
                    color: whites(0.4);
                }
            }
        }
    }

    .sponsors {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;

        .item {
            margin: 10px;
            width: 60px;

            img {
                max-width: 100%;
            }
        }
    }
}
