header {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    background: colors(bg);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: all linear 0.4s;
    .main-container {
        display: flex;
        align-items: center;
        @include mobile {
            justify-content: center;
        }
    }

    &.fixed {
        $height: 60px;
        height: $height;
        transition: all linear 0.4s;
        border-radius: 0 0 $height $height;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);

        .logo {
            top: 20px;
            transition: all linear 0.4s;
            line-height: 12px;

            span {
                &:nth-of-type(1) {
                    font-size: 29px;
                }

                &:nth-of-type(2) {
                    font-size: 13px;
                }
            }
        }

        .contacts {
            $size: 50px;
            width: $size;
            height: $size;
            top: 35px;
            transition: all linear 0.4s;

            .item {
                display: none;
            }

            .close {
                display: none;
            }

            .open {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                color: #e91e63;
                cursor: pointer;
                border-radius: 50%;
                &:hover {
                    color: colors(sec);
                }
            }
        }
    }

    // Desktop by default
    .nav_tab_icon {
        display: none;

        @include mobile {
            display: block;
            $size: 50px;
            width: $size - 20px;
            height: $size;
            position: absolute;
            z-index: 3;
            $dimension: 20px;
            top: $dimension;
            left: $dimension;

            .item {
                $height: 5px;
                height: $height;
                border-radius: $height;
                background-color: colors(orange);
                margin-bottom: 6px;
                transition: all linear 0.2s;
                box-shadow: 0px 0px 10px #ff5722;

                &:nth-child(1) {
                    width: 100%;
                }

                &:nth-child(2) {
                    width: 60%;
                }

                &:nth-child(3) {
                    width: 30%;
                }
            }

            &.open {
                .item {
                    &:nth-child(1) {
                        transform: rotate(-45deg) translate(-8px, 6px);
                    }

                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }

    .logo {
    }

    nav {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include mobile {
            display: none;
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100vh;
            inset: 0;
            transform: translate(0, 0);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #26272de9;
            backdrop-filter: blur(30px);

            &.active {
                display: flex;
            }
        }

        a {
            margin: 0 20px;
            position: relative;
            color: colors(text);
            opacity: 0.6;

            @include mobile {
                margin-bottom: 35px;
                position: relative;
                color: colors(text);
                font-size: 24px;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

                &:active {
                    background-color: black;
                }
            }

            &:hover {
                cursor: pointer;
                opacity: 1;
            }

            &.active {
                opacity: 1;
                font-weight: bold;
                color: colors(sec);

                &::before {
                    content: "<";
                }

                &::after {
                    content: "/>";
                }

                &::after,
                &::before {
                    display: inline-block;
                    @include mobile {
                        display: none;
                    }
                }
            }
        }
    }

    .contacts {
        background: colors(bg);
        $size: 150px;
        width: $size;
        height: $size;
        border-radius: $size;
        color: whites(0.6);
        padding: 10px;
        box-shadow: $shadow;
        position: absolute;
        right: 0;
        top: 20px;
        font-size: 14px;
        font-weight: normal;

        @include mobile() {
            $size: 120px;
            width: $size;
            height: $size;
            border-radius: $size;
        }

        .item {
            height: 30px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            margin: 10px auto;
            text-align: center;
            width: fit-content;
            color: whites(0.6);
            cursor: pointer;

            @include mobile() {
                height: fit-content;
                margin: 4px auto;
            }

            &:hover {
                background: #000;
                color: colors(sec);
            }

            &:nth-of-type(2) {
                margin-left: -5px;
                @include mobile() {
                    margin-left: -15px;
                }
            }

            .icon {
                width: 30px;
                height: 30px;
                margin-right: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include mobile() {
                    margin-right: 0;
                }
            }

            p {
                margin-right: 10px;
            }
        }

        .close {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: whites(0.2);
            font-size: 24px;
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(-50%);
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                color: #e91e63;
            }
        }

        .open {
            display: none;
        }
    }
}
