@import "../style";

main {
    font-family: $Ubuntu;
    .titel_label {
        margin-top: 200px;
    }
    .content {
        max-width: 1080px;
        margin: 0 auto;
        p {
            color: whites(0.4);
            font-size: 24px;
            line-height: 35px;
            margin-top: 20px;
        }
    }
}
