@import "../variables";
@import "../default";
@import "../module";
@import "../mobile_sections/header";
@import "../mobile_sections/footer";

main {
    font-family: $Ubuntu;
    .titel_label {
        margin-top: 100px;
        font-size: 35px;
        margin-left: 40px;
        margin-bottom: 0;
        &::before {
            font-size: 90px;
            bottom: -11px;
        }
    }
    .content {
        margin: 0 auto;
        padding: 20px;
        p {
            color: whites(0.4);
            font-size: 18px;
            line-height: 24px;
            font-weight: normal;
            margin-bottom: 20px;
        }
    }
}
